<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Scores and Details API</h1>
    <a href="{% url 'input_credentials_gpa' %}">See GPA</a><br>
    <a href="{% url 'input_credentials_combined' %}">See Improved API</a>
    <form action="{% url 'show_scores' %}" method="POST">
        <div>Name: <input placeholder="username" name="username" required></div>
        <div>Password: <input type="password" placeholder="password" name="password" required></div>
        <div>See detail? <input type="checkbox" name="detail_status"</div>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>