<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if scores %}
        {{scores}}
    {% else %}
        <h1>Failed to get data, wrong password perhaps?</h1>
    {% endif %}
</body>
</html>